<!DOCTYPE html>
<html lang="en">
<head>
  <title>Quiz App - Home Page</title>

  <!-- Meta Information -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name='viewport' content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- External JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Patua+One&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css">
  <link rel="stylesheet" href="/styles/main.css" type="text/css">
  <link rel="stylesheet" href="/styles/header.css" type="text/css">

</head>
<body>
  <%- include('partials/_header') %>
  <main>
    <section id="create">
      <button id="create-a-new-quiz">
        <i class="fa-solid fa-plus"></i>
        <span>Create A New Quiz</span>
      </button>
      <div class="content">
        <form id="create-form" action="/create" method="POST">
          <input type="text" name="quiz-title" placeholder="Quiz Title" required><br>
          <div class="question-block">
            <input type="text" name="question-1-title" placeholder="Question 1" required><br>
            <div>
              <input type="text" name="question-1-option-1" placeholder="Option 1" required>
              <input type="radio" name="question-1-answer" value="option-1" required>
            </div>
            <div>
              <input type="text" name="question-1-option-2" placeholder="Option 2" required>
              <input type="radio" name="question-1-answer" value="option-2" required>
            </div>
            <div>
              <input type="text" name="question-1-option-3" placeholder="Option 3" required>
              <input type="radio" name="question-1-answer" value="option-3" required>
            </div>
            <div>
              <input type="text" name="question-1-option-4" placeholder="Option 4" required>
              <input type="radio" name="question-1-answer" value="option-4" required>
            </div>
            <div>
              <input type="text" name="question-1-option-5" placeholder="Option 5" required>
              <input type="radio" name="question-1-answer" value="option-5" required>
            </div>
          </div>
          <div id="more-questions-button">
            <span id="more-questions-text">More questions</span>
            <i class="fa-solid fa-caret-down"></i>
          </div>
          <div>
            <input type="checkbox" name="unlisted-checkbox"><label for="unlisted-checkbox">Make this quiz private</label>
          </div>
          <button type="submit">Submit</button>
        </form>
      </div>
    </section>
    <section id="tables">
      <button type="button" id="show-quizzes">Quizzes</button>
      <div class="content">
        <table id="quizzes">
          <tr>
            <th>Quiz Title</th>
            <th>Owner ID</th>
            <th>Start Quiz</th>
            <th>Share Quiz</th>
            <th>Action</th>
          <% for (let quiz of quizzes) { %>
            <% if (!quiz['is_unlisted'] || Number(userId) === Number(quiz['owner_id'])) { %>
              <tr>
                <td><%= quiz['title'] %></td>
                <td><%= quiz['owner_id'] %></td>
                <td><a class="quiz-link" href="/quizzes/<%= quiz['id'] %>">Start Quiz</a></td>
                <td><a class="copy-quiz-link">Share Quiz</a></td>
                <td>
                  <% if (quiz['is_unlisted']) { %>
                    <form action="/list/<%= quiz['id'] %>" method="POST">
                      <button class="list-button">List</button>
                    </form>
                  <% } else if (Number(userId) === Number(quiz['owner_id'])) { %>
                    <form action="/unlist/<%= quiz['id'] %>" method="POST">
                      <button class="unlist-button">Unlist</button>
                    </form>
                  <% } %>
                </td>
              </tr>
            <% } %>
          <% } %>
        </table>
      </div>
      <button type="button" id="show-results">Results</button>
      <div class="content">
        <table id="attempts">
          <tr>
            <th>Quiz Title</th>
            <th>Test ID</th>
            <th>Date</th>
            <th>View Result</th>
            <th>Share Result</th>
          </tr>
          <% for (let test of tests) { %>
            <tr>
              <td><%= test['title'] %></td>
              <td><%= test['id'] %></td>
              <td><%= test['finish_date'].toLocaleString('en-US', { timeZone: 'America/Vancouver' }) %></td>
              <td><a class="test-link" href="/tests/<%= test['id'] %>">View Result</a></td>
              <td><a class="copy-test-link">Share Result</a></td>
            </tr>
          <% } %>
        </table>
      </div>
    </section>
  </main>
</body>
