<!DOCTYPE html>
<html lang="en">
<head>
  <title>Quiz <%=quiz[0].id%></title>

  <!-- Meta Information -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name='viewport' content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- External JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Patua+One&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css">
  <link rel="stylesheet" href="/styles/main.css" type="text/css">
  <link rel="stylesheet" href="/styles/header.css" type="text/css">
  <link rel="stylesheet" href="/styles/quizzes.css" type="text/css">

</head>
<body>
  <%- include('partials/_header') %>
  <main style="margin: 1em;">
    <section id ="question-table">
      <div class="quiz-name">
        <nav>
          <a id="quiz-logo" href="/"><%=quiz[0].title%></a>
          <span id="quiz-info">
        </div></span>
        </nav></div>
        <form action="/quizzes/<%=quiz[0].id%>" method="POST">
    <table class= "question-table">
      <thead>
        <tr>
        </tr>
      </thead>
      <tbody >
      <% for (let question of questions) { %>
        <tr>
         <td class = "quiz-question">
          <button type="button" class="collapsible-answers" ><%=question.question%></button></td>
        <% for (let alternative of question.alternatives) {%>

          <td class = "quiz-answer">
              <input type="radio" name="question-<%=question.id%>-answers" id="question-<%=alternative.id%>-answer" value="<%=alternative.id%>" />
              <label for="question-<%=alternative.id%>-answer"><%=alternative.alternative%></label>
          </td>
        <% } %>
          </tr>
          <% } %>

      </tbody>
      </table>
      <div class = "button">
      <button class="submit-button" type="submit" >Submit Quiz</button>
      <% if (error !== ""){%>
        <label class = "error"><%=error%></label>
      <% } %>
      </div>
    </form>
  </section>
  </main>
  <script>
    var coll = document.querySelectorAll(".collapsible-answers");
    var i;
    coll.forEach(function (button) {
      button.addEventListener("click", function() {
        let answer = this.parentElement.nextElementSibling
        myLoop(answer)
      })
    })

    let myLoop = function(answer) {
      setTimeout(function(){
        if(answer){
          answer.classList.toggle("active");
          myLoop(answer.nextElementSibling)
        }
      }, 50)
    }
    </script>
</body>
</html>
