<!DOCTYPE html>
<html lang="en">
<head>
  <title>Quiz <%=quiz[0].id%></title>

  <!-- Meta Information -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name='viewport' content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- External JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Patua+One&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css">
  <link rel="stylesheet" href="/styles/main.css" type="text/css">
  <link rel="stylesheet" href="/styles/header.css" type="text/css">
  <link rel="stylesheet" href="/styles/quizzes.css" type="text/css">

</head>
<body>
  <%- include('partials/_header') %>
  <main>
	
	<section class="results">
		<button type="button" class="collapsible"><%=quizAverage[0].title%></button>
		<p><%=quizAverage[0].description%>. (Created by <%=quizAverage[0].name%>)</p>
	
		<% if(quiz[0].score === 0){ %> <!-- 1 if then-->
			<p><a class="quiz-link" href="/quizzes/<%= quizAverage['id'] %>">Start Quiz</a</p>
		<% } else {%> <!-- 2 else -->
			<button type="button" class="collapsible">Your Results</button>
			<a>You got <%=Math.round(quiz[0].score,2)%>%! The average of this quiz is <%=Math.round(quizScore[0].average_result,2)%>%. You <%=quiz[0].result%> !!, the minimum of correct answers is <%=quizAverage[0].cut_note%>%.</a>.
		<% } %> <!-- 3 end -->
		<section class="results">
			<section class="results" id="test-results">
			</section>
			<button type="button" class="collapsible">Ranking</button>
				<table id="ranking">
					<tr>
						<th>name</th>
						<th>result</th>
					</tr>
					<% for (let user of userScore) { %>
						<tr>
							<td><%= user['name'] %></td>
							<td><%= Math.round(user['users_results'], 2) %></td>
						</tr>
					<% } %>
				</table>
		</section>

		<section class="correct">
			<section class="results" id="test-correct">
			</section>
			<button type="button" class="collapsible">Correct answers</button>
			<section>	
			<table id="correct-answers">
				<thead>
					<tr>
					</tr>
				</thead>
				<tbody>
					<% let lastQuestion = "none"; let questionCounter = 0; let answerCounter = 0; %>
					<% for (let row of correctAlternatives) { %>
						<tr>
							<% if (lastQuestion !== row['question']) { lastQuestion = row['question']; questionCounter ++; answerCounter = 97 %> 
								<td><%=questionCounter+"- "+row['question'] %></td>
							<% } else { %>
								<td> </td>
							<% } %> 
							<% if (row['is_correct'] === true) { %> 
								<td><h4><%=String.fromCharCode (answerCounter)+") "+row['alternative'] %></h4></td>
							<% } else { %>
							<td><h6><%=String.fromCharCode (answerCounter)+") "+ row['alternative'] %></h6></td>
							<% } %>
						</tr>
						<tr><p></p></tr><% answerCounter ++ %>
					<% } %>
					
				</table>
				</section>
		</section>
		
	
	<footer></footer>
	
	</main>
	<!-- scripts enter here -->
	<script src="/scripts/results.js"></script>	

</body>

</html>